<h1><%= @page_title %></h1>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.
Integer ut tincidunt velit. Etiam at diam pretium, aliquam
tortor et, lobortis augue. Integer tincidunt lectus at
pellentesque feugiat. Mauris fermentum turpis bibendum nibh
feugiat posuere. Aenean aliquam finibus convallis. Proin
feugiat placerat purus, vel tincidunt ante dignissim vel.
Suspendisse vel enim ac neque semper luctus ut quis enim.
Aenean condimentum risus magna, ac faucibus dui rutrum et.
Phasellus vitae mollis nisi, ac fermentum nulla. Integer
laoreet ultrices nunc, aliquam aliquet augue vehicula sit
amet. Maecenas sed rutrum turpis, ac commodo libero.
Mauris quis interdum libero.</p>

